<% @pos_array.each do |position| %>
  <div class="pos">
    <table class="data">
      <tr>
      <td> Rank </td>
      <td> Name </td>
      <td> Team </td>
      <td> Position </td>
      <td> Projected Points </td>
      <td> Dropoff </td>
      <td> Off. (%) </td>
      <td> Contribute (%) </td>
      <td> Drafted? </td>
      <tr>
      <% position.each_with_index do |player, index| %>
        <% mark = mark_set(player.dropoff) %>
        <tr class= <%= mark %>>
           <td><%= "#{index + 1}. " %></td>
           <td><%= player.name %></td>
           <td><%= player.team %></td>
           <td><%= player.position %></td>
           <td><%= player.projection %></td>
           <td><%= player.dropoff %></td>
           <td><%= player.offense_percentile %></td>
           <td><%= player.perc_contribute %></td>
           <td><%= link_to 'X', drafted_path(player.id) %></td>
        </tr>
    <% end %>
    </table>
  </div>
<% end %>